@import url(../includes/common.css);
@import url(../includes/video-film_info.css);
@import url(../includes/participants.css);
@import url(../includes/filmPartnes.css);
@import url(../includes/film-galary__anons.css);
@import url(../includes/partners_reviews.css);

.icons_block{
    display: none;
}
main{
    overflow: hidden;
}
.reviews__1, .reviews__3 {  
    background: #FFFFFF;
}