*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*::before,*::after{
    box-sizing:border-box;
} 
a{
    cursor: pointer;
}
body{
    height: 300vh;
    -webkit-font-smoothing: antialiased;
}
input,button,textarea {font-family: inherit;}

body._lock{ overflow: hidden;}
h1{ margin: 0;}


/*================HEADER==================*/
.header{
    background: linear-gradient(180deg, #010101 -17.5%, rgba(1, 1, 1, 0) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.container{
    /*max-width: 79%;*/
    max-width: 1200px;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.header_logo{
    max-width:100%;
    height: auto;
    padding: 10px 0;
    display: relative;
    z-index: 20;
}
.menu_icon{
    display: none;
}
.nav_link , .lang_link{
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    color: #C7C7C7;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.nav_link:hover,.nav_link:active{
    color: #fff;
    font-weight: 600;
    transition: color 0.2s linear;
}
.nav_list{
    padding: 24px 0px;
    display: flex;
}
.nav_link:first-child{
    margin-left: 0;
}
.nav_link{
    margin-left: 32px;
}
.lang{
    display: none;
}

/* ???? */

@media (max-width: 1250px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
}


@media (max-width: 767px){
    .header_inner{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .header
    .menu_icon{
        z-index: 15;
        display: inline-block;
        position:relative;
        height: 18px;
        width: 30px;
        cursor: pointer;
    
    }
    .header_logo{
        padding: 2px 16px;
        margin-right: auto;
    }
   
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after{
        position: absolute;
        right:20px;        
        width: 100%;
        height: 10%;
        background-color: #fff;
        transition: all 0.3 ease 0s;
    }

    .menu_icon::before,
    .menu_icon::after{
        content: '';
    }
    .menu_icon::before{
        top:0;
        
    }
    .menu_icon::after{
        bottom: 0;
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
    }
    .menu_icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon._active::after{
         bottom: 50%;
         transform: rotate(45deg) translate(0px, 50%); 
         /* unequal crosses*/
    }
    .menu_icon{
        display: inline-block;
    }

    .nav_list{
        position: fixed;
        left:-100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #010101;
        opacity: 0.95;
        padding: 212px 0 ;
        transition: left 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 9;
    } 
    .nav_list._active {
        left: 0px;
    }
    .nav_link:last-child{
        display: none;
    }
    .nav_link:first-child{
        margin-left: 32px;
    }
    .nav_link{
        margin-bottom: 32px;
    }
    .header{
        padding: 88px auto;
    }
    .lang{
        margin-right: 50px;
        position: relative;
        z-index: 9;
        display: initial;
    }
    .lang_link{
        font-weight: 500;
        color: #fff;
        transition: color 0.2s linear;
    }


}


/*======== LOGO  BANNER ======================*/

.logo_banner{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    /* z-index: -5;  cursor pointer not working ,why?*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%, center; /* not shire is ot okay*/
    max-width: 100%;
    background-image: url(img/background_camera.png);
}

.inner_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.logo_title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.03em;
    margin: 227px auto 0px;
    
}
.logo_text{
    padding: 16px 0px 32px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: #FFFFFF;
    max-width: 683px;
    margin: 0 auto;
}
.logo_button{
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
    width: 262px;
    padding: 16px;
    background: #FFF;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #010101;
}
.arrow_down{
    margin: 128px auto 0px;
}

@media(max-width: 1249px){
    .logo_title{
        font-size: calc(40px + (64 - 40)*((100vw - 767px)/(1200 -767)));
        line-height: calc(125% + (144 - 125)*((100vw - 767px)/(1200 -767)));
    }
    .logo_button{
        font-size: calc(14px + (18 - 14)*((100vw - 767px)/(1200 -767)));
    }
    .logo_text{
        font-size: calc(14px + (18 - 14)*((100vw - 767px)/(1200 -767)));
    }
    
}

@media (max-width: 767px){
    .logo_banner{
        background-image: url(img/back_camera_phone.png);
    }
    .logo_title{
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.03em;
        margin: 237px auto 0px;
    }
    .logo_text{
        display: none;
    }
    .logo_button{
        width: 189px;
        height: 42px;border: 1px solid #FFFFFF;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        padding: 13px 12px 11px 12px;
        margin: 32px auto;
        background:none;
    }
}

/*========================Fixed_button======================*/


.social_buttons{
    display: flex;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 55%;
    right: -80px; 
    z-index: 100;
}
.fixed_button{
    font-family: 'Oswald',sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
    background: #010101;
    text-decoration: none;
    text-align: center;
    margin: 0px 1px;
    padding: 6px;
}

.fixed_button:hover{
    font-weight: 500;
    transition: all 0.3s ease;/*trigger on hower why*/
}


@media (max-width: 767px){
    .social_buttons{
        display: none;
    }
}

/*======================INFORMATION BLOCK=======================*/


.information_block{
    height: 639px;
    width: 100%;
    background-color: #010101;
}
.numbers_result{
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 120px;
}
.general_number{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 0; /*?*/
    margin: 10px ;
    height: 105px;
}
.numbers_one, 
.numbers_two, 
.numbers_three{
    margin-right: 40px;
}
.numbers_one{
    width: 215px;
}
.numbers_two{
    width: 237px;
}
.numbers_three{
    width: 207px;
}
.numbers_four{
    width: 286px;
}

.shadow_text{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: uppercase;
    color: #1E1E1E;
    opacity: 0.7;
}
.brite_text{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 127%;
    color: #FFFFFF;
    text-transform: uppercase;
}
.number{
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    font-size: 68px;
    line-height: 112%;
    color: #FFFFFF;
}

@media(max-width: 1250px){

    .information_block{
        height: calc(500px + (639 - 500)*((100vw - 767px)/(1249 -767))); ;
    }
    .numbers_result{
        padding-top: calc(56px + (120 - 56)*((100vw - 767px)/(1249 -767))); 
    }
    .shadow_text{
        font-size: calc(32px + (40 - 32)*((100vw - 767px)/(1249 -767)));
        line-height: calc(112% + (133 - 112)*((100vw - 767px)/(1249 -767)));
    }
    .brite_text{
        font-size: calc(16px + (28 - 16)*((100vw - 767px)/(1249 -767)));
        line-height: calc(125% + (127 - 125)*((100vw - 767px)/(1249 -767)));
    }
    .number{
        font-size: calc(44px + (68 - 44)*((100vw - 767px)/(1249 -767)));
    }
    .numbers_one{
        width: calc(132px + (215 - 132)*((100vw - 767px)/(1249 -767)));
    }
    .numbers_two{
        width: calc(146px + (237 - 146)*((100vw - 767px)/(1249 -767)));
    }
    .numbers_three{
        width: calc(127px + (297 - 127)*((100vw - 767px)/(1249 -767)));
    }
    .numbers_four{
        width: calc(183px + (286 - 183)*((100vw - 767px)/(1249 -767)));
    }
    .general_number{
        height: calc(61px + (105 - 61)*((100vw - 767px)/(1249 -767)));
    }

    
}


@media (max-width: 768px){
    .information_block{
        height: 802px;
        width: 100%;
        background-color: #010101;
    }
    .numbers_result{
        padding: 56px 16px 0px 16px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .general_number{
        height: 61px;
        margin: 0px ;
        display: inline-block;
    }
    .numbers_one, 
    .numbers_two, 
    .numbers_three{
        margin-right: 10px;
}
    .shadow_text{
        font-family: 'Oswald',sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 112%;
        text-transform: uppercase;
        color: #1E1E1E;
        opacity: 0.7;
    }
    .number{
        font-family: 'Oswald',sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 114%;
        color: #FFFFFF;
    }
    .brite_text{
        font-family: 'Raleway',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .numbers_one{
        width: 132px;
    }
    .numbers_two{
        width: 146px;
    }
    .numbers_three{
        width: 127px;
    }
    .numbers_four{
        width: 170px;
    }
}

/* shrink by 2  */



/*=========== PHOTO RESULT ===========*/

/*mobile verson position of photo*/

.photo_result{
    display: flex;
    justify-content: center;
    padding-top: 121px;
    flex-wrap: nowrap;
       
    /*position: relative;*/
    /* flex-wrap: wrap; */
}
.photo{
    object-fit: cover;
    width: 100%;
    height: 100%;    
}

.photo_res_all {
    width: 342px;
    height: auto;
    overflow: hidden;
    margin: 0 16px;
    position: relative;
}
.photo_result_one::before,
.photo_result_two::before, 
.photo_result_three::before{
    content: '';
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    /*z-index: 2;*/
}

.text{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform:translate(-50%);
    z-index: 2;
    font-weight: 500;
    font-size: 40px;
    line-height: 160%;
}


@media(max-width: 1249px){
    .photo_result{
    padding-top: calc(56px + (121 - 56)*((100vw - 767px)/(1249 -767)));
    }
    .photo_res_all {
        max-height: calc(152px + (214 - 152)*((100vw - 767px)/(1249 -767)));
        margin: 12px;
    }
    .text{
        font-size: calc(32px + (40 - 32)*((100vw - 767px)/(1249 -767)));
    }
}


@media (max-width: 768px){
    
    .photo_res_all {
        max-height: 152px;
        margin: 5px;
        max-height: calc(152px + (214 - 152)*((100vw - 340px)/(768-340)));
        max-width: calc(330px + (340 - 330)*((100vw - 340px)/(768-340)));;
}
    .photo_result{
        display: flex;
        flex-direction: column;
        padding-top: 56px;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .photo{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;    
    }
    .text{
        font-weight: 500;
        font-size: 32px;
        line-height: 137%;
        letter-spacing: 0.03em;
    }

}
/*============= History_block ==============*/

.history_block{
    height: 750px;
    background-color:  #010101;
}
.history_block_inner{
    display: flex;
}
.history_title{
    font-family: 'Oswald',sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 121%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 2.5% ;
    margin-left: 8.2% ;
    margin-top: 9.2% ;
}
.history_text{
    width: 59%;
}
.history_text_inner{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 8.2% ;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
    margin-right: 40px;
}
.history_photo_block{
    width: 565px;
    height: 627px ;
    overflow: hidden;
    margin-top:3.7% ;
    position: relative;
}
.history_photo_block::before{
    content: '';
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    filter: blur(0.1rem);
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.history_img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    object-position: center;
}


@media (max-width:993px) {
    .history_text_inner{
        font-weight: 500;
        font-size: 14px;
        line-height: 157%;

        margin-left: 16px ;
        margin-top: 12px;
        margin-bottom: 12px;
        text-align: left;
        margin-right: 10px;
    }
    .history_photo_block{
        width: 480px;
        height: auto;
    }
    .history_photo_block::before{
        display: none;
    }
    
}




@media (max-width:650px){
    .history_block{
        position: relative;
        height: 610px;
    }
    .history_text{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .history_text{
        width: 100%;
    }
    .history_title{
        font-size: 18px;
        line-height: 189%;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-top: 0px;
    }
    .history_photo_block{
        background-image: url(img/content4\ for\ phone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: auto;
        width: calc(340px + (652 - 340)*((100vw - 340px)/(650-340)));
        height: 560.87px;
        margin-top: 5%;
    }
    .inner_align_left{
        width: 70%;
    }
    .history_img{
        display: none;
    }
    .history_photo_block::before{
        display: none;
    }
    
}

/*=======JHJK