*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*::before,*::after{
    box-sizing:border-box;
} 
a{
    cursor: pointer;
}
body{
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
input,button,textarea {font-family: inherit;}

body._lock{ overflow: hidden;} 
h1{ margin: 0;}


/*============= General ========================*/
:root{
    --textColor: #fff;
    --backgroundColor:  #010101;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1200px;    
    margin: 0 auto;
}
.content{
    flex:  1 1 auto ;
}

/*===================== HEADER ====================*/
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1200px;    
    margin: 0 auto;
}
.content{
    flex:  1 1 auto ;
}
.header{
    background: linear-gradient(180deg,var(--backgroundColor) -17.5%, rgba(1, 1, 1, 0) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 10;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 100%;
}
.header__logo{
    max-width:100%;
    height: auto;
    padding: 10px 0;
    /* position: relative; */
    z-index: 20;
}
.header__menu-icon{
    display: none;
}
.nav-list__link , .header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    color: #C7C7C7;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.nav-list__link:hover{
    color: var(--textColor);
    font-weight: 600;
    transition: color 0.3s linear;
}
.nav-list{
    padding: 24px 0px;
    display: flex;
}
.nav-list__link:first-child{
    margin-left: 0;
}
.nav-list__link{
    margin-left: 32px;
}
.header__lang-link{
    display: none;
}

@media (max-width: 1250px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .header__inner{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header
    .header__menu-icon{
        z-index: 15;
        display: inline-block;
        position:relative;
        height: 18px;
        width: 30px;
        cursor: pointer;
    }
    .header__logo{
        padding: 2px 16px;
        margin-right: auto;
    }
    .header__menu-icon span,
    .header__menu-icon::before,
    .header__menu-icon::after{
        position: absolute;
        right:20px;        
        width: 100%;
        height: 10%;
        background-color: var(--textColor);
        transition: all 0.3 ease-in;
    }
    .header__menu-icon::before,
    .header__menu-icon::after{
        content: '';
    }
    .header__menu-icon::before{
        top:0;
        
    }
    .header__menu-icon::after{
        bottom: 0;
    }
    .header__menu-icon span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
    }
    .header__menu-icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header__menu-icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__menu-icon._active::after{
         bottom: 50%;
         transform: rotate(45deg) translate(0px, 50%); 
         /* unequal crosses*/
    }
    .header__menu-icon{
        display: inline-block;
    }
    .nav-list{
        position: fixed;
        left:-100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:var(--backgroundColor);
        opacity: 0.95;
        padding: 212px 0 ;
        transition: left 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 9;
    } 
    .nav-list._active {
        left: 0px;
    }
    .nav-list__link:last-child{
        display: none;
    }
    .nav-list__link:first-child{
        margin-left: 32px;
    }
    .nav-list__link{
        margin-bottom: 32px;
    }
    .header{
        /* padding-top: 88px; */
    }
    .header__lang-link{
        margin-right: 50px;
        position: relative;
        z-index: 9;
        display: initial;
    }
    .header__link{
        font-weight: 500;
        color: var(--textColor);
        transition: color 0.2s linear;
    }
}
/*==================FOOOTER====================*/
footer{
    background:var(--backgroundColor);
}
footer .landscape-block{
    height: 10em;
    background: linear-gradient(180deg,var(--backgroundColor) 11.52%, rgba(41, 40, 40, 0.76) 100%);
 }

/*position mountains*/
.footer__inner>.container{
    position: relative;
}
.footer__logo-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    }
footer .container .footer__mountains-wrapper .footer__big-mountains{
    position: absolute;
    top:-101px;
    left:-77px;
}
footer .container .footer__mountains-wrapper .footer__smal-mountains{
    position: absolute;
    top:-55px;
    left:180px;
}
/*position mountains*/

.footer_flex-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.6em;
}
.footer__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav-links:not(:last-child){
    margin-right: 2.5em;
}
.footer__nav-links{
    text-decoration:  none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 229%;
    text-transform: uppercase;
    color: #C7C7C7;
    margin-bottom: 2em;
}
.footer__nav-links:hover,.footer__nav-links:active{
    font-weight: 600;
    color: var(--textColor);
    transition: color 0.2s linear;
}
.footer__social-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}
.footer__social-block>a:not(:last-child){
    margin-right: 3em;
}
.footer__UAP{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 2.2em;
}
@media (max-width: 767px){
    footer .landscape-block{
        height: 7.5em;
    }
    .footer__nav-list{
        display: none;
    }
    .footer__UAP{
        display: none;
    }
    .footer__social-block{
        margin-bottom: 1.5em;
        margin-right: 1em;
    }
    .footer__social-block>a{
        height: 1em;
        overflow: hidden;
    }
    .footer__social-block>a>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .footer__social-block>a:not(:last-child){
        margin-right: 1.5em;
    }

    .footer_flex-inner{
        padding-top: 1.5em;    
        flex-direction: row;
        justify-content: flex-end;
    }
    .footer__logo-wrapper{
        margin-left: 1.3em;
        width: 113px;
        overflow: hidden;
    }
    .footer__logo-wrapper>img{
        width: 100%;
        object-fit: contain;
    }
    .footer__mountains-wrapper>.footer__big-mountains{
        width: 165px;
        height: 81px;
    }
    .footer__mountains-wrapper>.footer__smal-mountains{
        width: 64px;
        height: 33px;
    }
    .footer__inner>.container{
        position: relative;
    }
    footer .container .footer__mountains-wrapper .footer__big-mountains{
        position: absolute;
        top:-51px;
        left:-1px;
    }
    footer .container .footer__mountains-wrapper .footer__smal-mountains{
        position: absolute;
        top:-27px;
        left:138px;
    }
}


/*========================social-buttons__items (social-buttons)======================*/


.social-buttons{
    display: flex;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 55%;
    right: -80px; 
    z-index: 100;
}
.social-buttons__items{
    font-family: 'Oswald',sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--textColor);
    background:var(--backgroundColor);
    text-decoration: none;
    text-align: center;
    margin: 0px 1px;
    padding: 6px;
}
.social-buttons__items:hover{
    font-weight: 500;
    transition: all 0.3s ease;/*trigger on hower why*/
}
@media (max-width: 767px){
    .social-buttons{
        display: none;
    }
}