/*===================film-galary==================*/

.film-galary{
    padding: 120px 0;
    background-color: var(--backgroundColor);
    position: relative;
}
.film-galary__button{
    display: none;
}
.film-galary__title{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.film-photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.film-photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film-photo:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
}
.film-galary__grid>div:first-of-type{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.film-galary__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.4%;
    grid-auto-flow: dense;
}

.preview-box{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    padding: 108px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    z-index: 5;
}
.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.preview-box .img-box{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    max-width: 1200px;
}
.imgPop__wrapper{
    width: 100%;
    max-height: 680px;
    overflow: hidden;
}
.imgPop__wrapper>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow__gallery{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.arrow__gellery .arrow__left-white{
    margin-right: 56px;
}
.slide{
    cursor: pointer;
}
.close{
    margin-left: auto;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 24px;
}
.close>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #010101;
    opacity: 0.95;
    display: none;
}


@media (max-width:766px){
    .preview-box{
        height: 100%;
    }
    .film-galary{
        padding: 56px 16px;
    }
    .film-galary__button{
        align-self: center;
        justify-self: center;
        display: block;
        width: 81%;
        padding: 6px 8px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        background-color: var(--backgroundColor);
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .film-galary__button:hover{
        box-shadow: inset 0 0 20px rgb(218 218 218 / 78%);
        letter-spacing: 1px;
    }
    .film-galary__grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0.4%;
        grid-auto-flow: dense;
    }
    .film-galary__title{
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 34px;
    }
}
/*=================== Anons =============*/
.anons{
    background: black url(../img/cloud-back.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.anons::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
    z-index: 2;
}
.anons__inner{
    padding: 124px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.anons__title{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #010101;
    text-align: center;
    position: relative;
    z-index: 3;
}
.anons__button{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #010101;
    background: #FFFFFF;
    border: 1px solid #010101;
    box-sizing: border-box;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
    position: relative;
    z-index: 3;
}
.anons__button:hover{
    box-shadow: inset 0 0 20px rgb(6 6 6 / 78%);
    letter-spacing: 1px;
}

@media (max-width:766px){
    .anons{
        background: black url(../img/cloud-back_phone.png) no-repeat center;
        background-size: cover;
    }
    .anons__inner{
        padding: 58px 16px;
        flex-direction: column;
        justify-content: center;
    }
    .anons__button{
        font-size: 14px;
        line-height: 24px;
        padding: 8px;
    }
    .anons__title{
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 32px;
    }
}